:root {
  --title-color: #2e2f42;
  --accent-color: #404bbf;
  --subtitle-text: #434455;
  --active-links: #4d5ae5;
  --white-background: #ffffff;
  --light-backround: #f4f4fd;
  --button-border: #e7e9fc;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--title-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-beginning {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--active-links);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--subtitle-text);
  background-color: var(--white-background);
}

.hero {
  background-color: var(--title-color);
  padding: 188px 0;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

.header-styles {
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.hero-heading {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-right: auto;
  margin-left: auto;

  max-width: 496px;
}

.hero-body {
  display: block;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  background-color: var(--active-links);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: 0;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-menu {
  display: flex;
  gap: 40px;
}

.address-default {
  font-style: normal;
}
.header-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-text);
  text-decoration: none;
  gap: 40px;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}
.list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.why-choose {
  padding: 120px 0;
}

.benefits-size {
  padding: 120 0 120 0;
}

.benefits-list {
  list-style-type: none;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 3 * 24px) / 4);
}

.benefits-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.benefits-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-text);

  /* SLATE */
}

.services {
  padding-bottom: 120px;
}

.services-heading {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
}
.services-list {
  list-style-type: none;
  gap: 24px;
}
.services-item {
  width: calc((100%-48px) / 3);
}
.team {
  background-color: var(--light-backround);
  padding: 120px 0;
}
.card-wrapper {
  padding: 32px 16px;
}
.team-card {
  background-color: var(--white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.team-heading {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
}
.team-members-list {
  list-style-type: none;
  gap: 24px;
  margin-bottom: 0;
  margin-top: 0;
}
.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 8px;
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  /* SLATE */
}
.footer-cta {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* CLOUD */
  color: var(--light-backround);
  max-width: 264px;
  margin: 0;
}
.footer-settings {
  background-color: #2e2f42;
  padding: 100px 0;
  /* margin-top: 72px; */
}
.footer-logo {
  color: var(--light-backround);
}
.logo-bottom {
  display: inline-block;
  margin-bottom: 16px;
}

/* .footer-content {
  max-width: 1158px;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

.menu-button {
  /* CLOUD */
  font-family: "Roboto", sans-serif;
  background: var(--light-backround);
  /* CORNFLOWER */

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--button-border);
  border-radius: 4px;

  /* IRIS */

  color: var(--active-links);
}
.menu-button:hover,
.menu-button:focus {
  background-color: var(--accent-color);
  cursor: pointer;
  color: var(--white-background);
  border: 1px solid transparent;
}

.project-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-bottom: 0;
}
.project-link {
  text-decoration: none;
}
.project-link:hover,
.project-link:focus {
  color: var(--accent-color);
}

.project-dimensions {
  width: calc((100% - 48px) / 3);
}
.project-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
}

.header-container {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0;
  margin-bottom: 72px;
  margin-top: 0;
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
  margin-top: 0;
}

.project-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-text);
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-positioning {
  padding-top: 96px;
  padding-bottom: 120px;
}
